<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>ai.qa.FormsTests.TenantInitialRun_Test</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>creating4_InlineTable</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>creating2_Tables</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>creating1_APP</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>JiffyTableWithColumnsCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>JiffyTableWithALLColumnsCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>creating3_Tasks</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>configBeforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>configBeforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>configAfterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>configAfterClass</td>
<td>&nbsp;</td></tr>
</table>
