<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Demo Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="87bd83">  <td>21/02/01 19:05:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.configAfterClass()[pri:0, instance:ai.qa.tests.ChildTask_Test@68bbe345]">&lt;&lt;configAfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@210652080</td>   <td></td> </tr>
<tr bgcolor="87bd83">  <td>21/02/01 19:05:11</td>   <td>-488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.configAfterMethod()[pri:0, instance:ai.qa.tests.ChildTask_Test@68bbe345]">&lt;&lt;configAfterMethod</td> 
<td>&nbsp;</td>  <td>main@210652080</td>   <td></td> </tr>
<tr bgcolor="87bd83">  <td>21/02/01 19:04:30</td>   <td>-41375</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.configBeforeClass()[pri:0, instance:ai.qa.tests.ChildTask_Test@68bbe345]">&gt;&gt;configBeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@210652080</td>   <td></td> </tr>
<tr bgcolor="87bd83">  <td>21/02/01 19:04:38</td>   <td>-33700</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.configBeforeMethod()[pri:0, instance:ai.qa.tests.ChildTask_Test@68bbe345]">&gt;&gt;configBeforeMethod</td> 
<td>&nbsp;</td>  <td>main@210652080</td>   <td></td> </tr>
<tr bgcolor="8b67fd">  <td>21/02/01 19:04:39</td>   <td>-32913</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChildTask_Test.runChildTask()[pri:0, instance:ai.qa.tests.ChildTask_Test@68bbe345]">runChildTask</td> 
  <td>main@210652080</td>   <td></td> </tr>
</table>
