<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>RerunSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:20:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.configBeforeClass()[pri:0, instance:ai.qa.FormsTests.VerifyTC069_Test@6c49835d]">&gt;&gt;configBeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:20:44</td>   <td>9516</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.configBeforeMethod()[pri:0, instance:ai.qa.FormsTests.VerifyTC069_Test@6c49835d]">&gt;&gt;configBeforeMethod</td> 
<td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="8b67fd">  <td>21/02/21 19:20:45</td>   <td>10172</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyTC069_Test.verifyTC069()[pri:0, instance:ai.qa.FormsTests.VerifyTC069_Test@6c49835d]">verifyTC069</td> 
  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:20:55</td>   <td>20146</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.configAfterMethod()[pri:0, instance:ai.qa.FormsTests.VerifyTC069_Test@6c49835d]">&lt;&lt;configAfterMethod</td> 
<td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:20:55</td>   <td>20433</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.configAfterClass()[pri:0, instance:ai.qa.FormsTests.VerifyTC069_Test@6c49835d]">&lt;&lt;configAfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:20:55</td>   <td>20578</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.configBeforeClass()[pri:0, instance:ai.qa.FormsTests.VerifyTC072_Test@5e853265]">&gt;&gt;configBeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:21:03</td>   <td>28456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.configBeforeMethod()[pri:0, instance:ai.qa.FormsTests.VerifyTC072_Test@5e853265]">&gt;&gt;configBeforeMethod</td> 
<td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="bfbc86">  <td>21/02/21 19:21:03</td>   <td>29124</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyTC072_Test.verifyTC072()[pri:0, instance:ai.qa.FormsTests.VerifyTC072_Test@5e853265]">verifyTC072</td> 
  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:21:11</td>   <td>36238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.configAfterMethod()[pri:0, instance:ai.qa.FormsTests.VerifyTC072_Test@5e853265]">&lt;&lt;configAfterMethod</td> 
<td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:21:11</td>   <td>36511</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.configAfterClass()[pri:0, instance:ai.qa.FormsTests.VerifyTC072_Test@5e853265]">&lt;&lt;configAfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:21:11</td>   <td>36638</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.configBeforeClass()[pri:0, instance:ai.qa.FormsTests.VerifyTC048_49_Test@67205a84]">&gt;&gt;configBeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:21:19</td>   <td>44390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.configBeforeMethod()[pri:0, instance:ai.qa.FormsTests.VerifyTC048_49_Test@67205a84]">&gt;&gt;configBeforeMethod</td> 
<td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="bf9bbf">  <td>21/02/21 19:21:19</td>   <td>44967</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyTC048_49_Test.verifyTC048()[pri:0, instance:ai.qa.FormsTests.VerifyTC048_49_Test@67205a84]">verifyTC048</td> 
  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:21:55</td>   <td>80238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.configAfterMethod()[pri:0, instance:ai.qa.FormsTests.VerifyTC048_49_Test@67205a84]">&lt;&lt;configAfterMethod</td> 
<td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:21:55</td>   <td>80551</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.configBeforeMethod()[pri:0, instance:ai.qa.FormsTests.VerifyTC048_49_Test@67205a84]">&gt;&gt;configBeforeMethod</td> 
<td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="bf9bbf">  <td>21/02/21 19:21:56</td>   <td>81455</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyTC048_49_Test.verifyTC049()[pri:0, instance:ai.qa.FormsTests.VerifyTC048_49_Test@67205a84]">verifyTC049</td> 
  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:22:20</td>   <td>105993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.configAfterMethod()[pri:0, instance:ai.qa.FormsTests.VerifyTC048_49_Test@67205a84]">&lt;&lt;configAfterMethod</td> 
<td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:22:21</td>   <td>106293</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.configAfterClass()[pri:0, instance:ai.qa.FormsTests.VerifyTC048_49_Test@67205a84]">&lt;&lt;configAfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:22:21</td>   <td>106403</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.configBeforeClass()[pri:0, instance:ai.qa.FormsTests.VerifyTC050_51_52_Test@7d0587f1]">&gt;&gt;configBeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:22:29</td>   <td>114384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.configBeforeMethod()[pri:0, instance:ai.qa.FormsTests.VerifyTC050_51_52_Test@7d0587f1]">&gt;&gt;configBeforeMethod</td> 
<td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="d56173">  <td>21/02/21 19:22:29</td>   <td>114997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyTC050_51_52_Test.verifyTC050()[pri:0, instance:ai.qa.FormsTests.VerifyTC050_51_52_Test@7d0587f1]">verifyTC050</td> 
  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:22:40</td>   <td>125147</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.configAfterMethod()[pri:0, instance:ai.qa.FormsTests.VerifyTC050_51_52_Test@7d0587f1]">&lt;&lt;configAfterMethod</td> 
<td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:22:40</td>   <td>125362</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.configBeforeMethod()[pri:0, instance:ai.qa.FormsTests.VerifyTC050_51_52_Test@7d0587f1]">&gt;&gt;configBeforeMethod</td> 
<td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="d56173">  <td>21/02/21 19:22:41</td>   <td>126251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyTC050_51_52_Test.verifyTC051()[pri:0, instance:ai.qa.FormsTests.VerifyTC050_51_52_Test@7d0587f1]">verifyTC051</td> 
  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:22:51</td>   <td>136359</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.configAfterMethod()[pri:0, instance:ai.qa.FormsTests.VerifyTC050_51_52_Test@7d0587f1]">&lt;&lt;configAfterMethod</td> 
<td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:22:51</td>   <td>136624</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.configBeforeMethod()[pri:0, instance:ai.qa.FormsTests.VerifyTC050_51_52_Test@7d0587f1]">&gt;&gt;configBeforeMethod</td> 
<td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="d56173">  <td>21/02/21 19:22:52</td>   <td>137589</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyTC050_51_52_Test.verifyTC052()[pri:0, instance:ai.qa.FormsTests.VerifyTC050_51_52_Test@7d0587f1]">verifyTC052</td> 
  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:22:56</td>   <td>141179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.configAfterMethod()[pri:0, instance:ai.qa.FormsTests.VerifyTC050_51_52_Test@7d0587f1]">&lt;&lt;configAfterMethod</td> 
<td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:22:56</td>   <td>141457</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.configAfterClass()[pri:0, instance:ai.qa.FormsTests.VerifyTC050_51_52_Test@7d0587f1]">&lt;&lt;configAfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:22:56</td>   <td>141568</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.configBeforeClass()[pri:0, instance:ai.qa.FormsTests.VerifyTC053_56_Test@5d76b067]">&gt;&gt;configBeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:23:04</td>   <td>150110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.configBeforeMethod()[pri:0, instance:ai.qa.FormsTests.VerifyTC053_56_Test@5d76b067]">&gt;&gt;configBeforeMethod</td> 
<td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>21/02/21 19:23:05</td>   <td>150726</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyTC053_56_Test.verifyTC053()[pri:0, instance:ai.qa.FormsTests.VerifyTC053_56_Test@5d76b067]">verifyTC053</td> 
  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:23:31</td>   <td>176964</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.configAfterMethod()[pri:0, instance:ai.qa.FormsTests.VerifyTC053_56_Test@5d76b067]">&lt;&lt;configAfterMethod</td> 
<td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:23:32</td>   <td>177221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.configBeforeMethod()[pri:0, instance:ai.qa.FormsTests.VerifyTC053_56_Test@5d76b067]">&gt;&gt;configBeforeMethod</td> 
<td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="8080bb">  <td>21/02/21 19:23:33</td>   <td>178182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyTC053_56_Test.verifyTC056()[pri:0, instance:ai.qa.FormsTests.VerifyTC053_56_Test@5d76b067]">verifyTC056</td> 
  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:23:56</td>   <td>201682</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.configAfterMethod()[pri:0, instance:ai.qa.FormsTests.VerifyTC053_56_Test@5d76b067]">&lt;&lt;configAfterMethod</td> 
<td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:23:56</td>   <td>201989</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.configAfterClass()[pri:0, instance:ai.qa.FormsTests.VerifyTC053_56_Test@5d76b067]">&lt;&lt;configAfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:23:56</td>   <td>202083</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.configBeforeClass()[pri:0, instance:ai.qa.FormsTests.VerifyTC071_Test@2a17b7b6]">&gt;&gt;configBeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:24:05</td>   <td>210429</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.configBeforeMethod()[pri:0, instance:ai.qa.FormsTests.VerifyTC071_Test@2a17b7b6]">&gt;&gt;configBeforeMethod</td> 
<td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c2a581">  <td>21/02/21 19:24:05</td>   <td>211083</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyTC071_Test.verifyTC071()[pri:0, instance:ai.qa.FormsTests.VerifyTC071_Test@2a17b7b6]">verifyTC071</td> 
  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:24:17</td>   <td>222632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.configAfterMethod()[pri:0, instance:ai.qa.FormsTests.VerifyTC071_Test@2a17b7b6]">&lt;&lt;configAfterMethod</td> 
<td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:24:17</td>   <td>222926</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.configAfterClass()[pri:0, instance:ai.qa.FormsTests.VerifyTC071_Test@2a17b7b6]">&lt;&lt;configAfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:24:17</td>   <td>223105</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.configBeforeClass()[pri:0, instance:ai.qa.FormsTests.VerifyTC073_74_76_Test@4f063c0a]">&gt;&gt;configBeforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:24:25</td>   <td>230883</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.configBeforeMethod()[pri:0, instance:ai.qa.FormsTests.VerifyTC073_74_76_Test@4f063c0a]">&gt;&gt;configBeforeMethod</td> 
<td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>21/02/21 19:24:26</td>   <td>231510</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyTC073_74_76_Test.verifyTC073()[pri:0, instance:ai.qa.FormsTests.VerifyTC073_74_76_Test@4f063c0a]">verifyTC073</td> 
  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:24:33</td>   <td>238812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.configAfterMethod()[pri:0, instance:ai.qa.FormsTests.VerifyTC073_74_76_Test@4f063c0a]">&lt;&lt;configAfterMethod</td> 
<td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:24:33</td>   <td>239026</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.configBeforeMethod()[pri:0, instance:ai.qa.FormsTests.VerifyTC073_74_76_Test@4f063c0a]">&gt;&gt;configBeforeMethod</td> 
<td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>21/02/21 19:24:34</td>   <td>239970</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyTC073_74_76_Test.verifyTC074()[pri:0, instance:ai.qa.FormsTests.VerifyTC073_74_76_Test@4f063c0a]">verifyTC074</td> 
  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:24:37</td>   <td>242805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.configAfterMethod()[pri:0, instance:ai.qa.FormsTests.VerifyTC073_74_76_Test@4f063c0a]">&lt;&lt;configAfterMethod</td> 
<td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:24:37</td>   <td>243084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.configBeforeMethod()[pri:0, instance:ai.qa.FormsTests.VerifyTC073_74_76_Test@4f063c0a]">&gt;&gt;configBeforeMethod</td> 
<td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="bdf5e5">  <td>21/02/21 19:24:38</td>   <td>243960</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyTC073_74_76_Test.verifyTC076()[pri:0, instance:ai.qa.FormsTests.VerifyTC073_74_76_Test@4f063c0a]">verifyTC076</td> 
  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:25:01</td>   <td>266667</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.configAfterMethod()[pri:0, instance:ai.qa.FormsTests.VerifyTC073_74_76_Test@4f063c0a]">&lt;&lt;configAfterMethod</td> 
<td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>21/02/21 19:25:01</td>   <td>267009</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.configAfterClass()[pri:0, instance:ai.qa.FormsTests.VerifyTC073_74_76_Test@4f063c0a]">&lt;&lt;configAfterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@592959754</td>   <td></td> </tr>
</table>
